#nav nav ul li a{
  font-size: 20px;
}

#nav header a img{
    margin-left: 0px;
    width: 65px;
    height: 65px;
  }

  #Chi_sono img{
    height: 300px;
    width: 300px;
    margin-left:30px;
  }

  #Chi_sono p{
    font-size: 20px;
  }

  #Finale footer a {
    margin-left: 80px;
  }
  